pull_request_templates:
  - label: Simple
  - label: Bug fix
    title: Bug fix
    body: '## Please describe your changes below'
    _inputs:
      title:
        options:
          required
      body:
        type: markdown

paths:
  uploads: uploads
  static: ''
_snippets_imports:
  jekyll: true
timezone: Pacific/Auckland
markdown:
  engine: kramdown
  options:
    xhtml: false
    breaks: false
    linkify: false
    typographer: false
    spaced_lists: false
    sentence_per_line: false
    gfm: false
    code_block_fences: '```'
    escape_snippets_in_code_blocks: false
    treat_indentation_as_code: true
    table: false
    strikethrough: false
    subscript: false
    superscript: false
    heading_ids: false
    attributes: true
    attribute_elements:
      inline: right
      block: below
      tr: none
      td: none
      li: right-of-prefix
