pull_request_templates:
  - label: Simple
  - title: Unlabelled with default title
  - body: Unlabelled with default body
  - label: Bug fix
    title: Bug fix
    body: '## Please describe the changes here'
    _inputs:
      title:
        options:
          required
      body:
        type: markdown
  - label: Bad types
    title:
      title_subfield: Hello
    body: [1, 2, 3]
  - label: Bad _inputs
    title:
      title_subfield: Hello
    _inputs:
      title:
        type: object
      body:
        type: array
      body[*]:
        type: number

paths:
  uploads: uploads
  static: ''
_snippets_imports:
  jekyll: true
timezone: Pacific/Auckland
markdown:
  engine: kramdown
  options:
    xhtml: false
    breaks: false
    linkify: false
    typographer: false
    spaced_lists: false
    sentence_per_line: false
    gfm: false
    code_block_fences: '```'
    escape_snippets_in_code_blocks: false
    treat_indentation_as_code: true
    table: false
    strikethrough: false
    subscript: false
    superscript: false
    heading_ids: false
    attributes: true
    attribute_elements:
      inline: right
      block: below
      tr: none
      td: none
      li: right-of-prefix
