---
layout: base.html
---

<div class="bg-white">
  <div class="mx-auto py-10 px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="lg:grid lg:grid-rows-1 lg:grid-cols-3 lg:gap-x-8 lg:gap-y-10 xl:gap-x-16">
      <div class="w-full max-w-2xl mx-auto lg:max-w-none lg:col-span-2 pt-8">
        <div data-cms-edit="content" class="prose prose-base max-w-none text-darkgrey prose-headings:text-nordic-lake prose-h3:text-nordic-darkgrey prose-h4:text-nordic-darkgrey prose-a:text-nordic-lake prose-a:no-underline">
          {{ content }}
        </div>
      </div>
    </div>
  </div>
</div>